* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/*
background color {
  footer: linear-gradient(90deg, rgba(189,66,0,1) 0%, rgba(179,98,0,1) 94%);
  body: "linear-gradient(90deg, rgba(255,89,0,1) 0%, rgba(255,141,0,1) 100%)",
  color: #00AD85,
  button: #8C2193
*/
